.bg-clr-1 {
    background-color: #1F8A70 !important;
}

.bg-clr-2 {
    background-color: #164B60 !important;
}

.bg-gradient-1 {
    background-image: linear-gradient(45deg, hsl(165deg 63% 33%) 0%, hsl(175deg 100% 24%) 10%, hsl(182deg 100% 22%) 20%, hsl(188deg 100% 21%) 30%, hsl(192deg 100% 20%) 40%, hsl(196deg 100% 18%) 50%, hsl(192deg 100% 20%) 60%, hsl(188deg 100% 21%) 70%, hsl(182deg 100% 22%) 80%, hsl(175deg 100% 24%) 90%, hsl(165deg 63% 33%) 100%) !important;
}

.topbar,
.footer-copy {
    height: 5vh;
}

.main-nav {
    height: 12vh;
}

.bg-login,
.bg-register {
    min-height: 78vh;
}


.topbar {
    /* background: #1F8A70 !important; */
    background: #196f9d !important;
}

.topbar a {
    font-size: 14px;
}

.main-nav {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.topbar .ml-auto li {
    border-right: 1px solid #ECECEC;
}

.topbar .ml-auto li:nth-child(1) {
    border-left: 1px solid #ECECEC;
}

.page-logo-link,
.page-logo-link:hover {
    text-decoration: none;
}

.page-logo-text {
    font-weight: 500;
    font-size: 23px;
    padding: 0 10px;
}

.page-logo-text-small {
    font-weight: 400;
    font-size: 15px;
    padding: 0 10px;
}


.bg-login {
    background-image: url(img/inds-2.jpg);
    background-position: center;
    background-size: cover;
    height: auto;
}

.bg-register {
    background-image: url(img/inds.jpg);
    background-position: center;
    background-size: cover;
    height: auto;
}

.bg-overlay {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(15, 45, 53, 0.5);
    /*rgba(0, 0, 0, 0.75);*/
    top: 0;
    left: 0;
}

.login-socials .fa {
    font-size: 36px;
}

.fa-facebook-square {
    color: #1877f2;
}

.fa-twitter-square {
    color: #1da1f2;
}

.fa-google-plus-square {
    color: #ea4335;
}

.fa-linkedin {
    color: #0a66c2;
}

.regFormBox {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    border-bottom: 6px solid #1F8A70;
    overflow: hidden;
}

.regFormBox .form-control.form-control-sm {
    border: 1px solid #1F8A70;
}

.regFormBox label {
    font-size: 14px;
    font-weight: 500;
    color: #2c3333;
    line-height: 20px;
}

.regFormBox label.form-check-label {
    width: auto;
    padding-right: 15px;
}

@media (max-width:767px) {
    .page-logo-text {
        font-size: 15px;
    }

    .page-logo-text-small {
        font-size: 12px;
    }

    .topbar,
    .main-nav {
        height: auto;
    }
}